.scrollable {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.link--no-decor {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.text-truncating {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  white-space: normal !important;

  &_1line {
    -webkit-line-clamp: 1 !important;
  }

  &_3lines {
    -webkit-line-clamp: 3 !important;
  }
}